@using School.WEB.Helpers
@using School.WEB.Viewmodels 
@model StudentSubjects

@{
    ViewData["Title"] = "Subjects";
}

<br/>
<h2>Subjects of the student</h2>

<table class="table table-hover table-bordered">
    <tr>
        <th>Subject name</th>
        <th>Teacher</th>
        <th></th>
    </tr>
    @foreach (var subject in Model.SubjectsOfStudent)
    {
        <tr>
            <td>@subject.SubjectName</td>
            <td>@subject.GetTeachersName()</td>
            <td>@Html.ActionLink("Leave", "Leave", "Student", new {subjectId = subject.Id, studentId = Model.Student.Id}, new {style = "color: red"})</td>
        </tr>
    }
</table>

<br/>
<h2>Subject where the student is not in.</h2>

<table class="table table-hover table-bordered">
    <tr>
        <th>Subject name</th>
        <th>Teacher</th>
        <th></th>
    </tr>
    @foreach (var subject in Model.RemainingSubjects)
    {
        <tr>
            <td>@subject.SubjectName</td>
            <td>@subject.GetTeachersName()</td>
            <td>@Html.ActionLink("Join", "Join", "Student", new {subjectId = subject.Id, studentId = Model.Student.Id}, new {})</td>
        </tr>
    }
</table>