@using School.WEB.Viewmodels
@model SubjectAdd

@{
    ViewBag.Title = "title";
}

<br/>
<h1>Adding a new student</h1>

@using (Html.BeginForm("Add", "Subject", FormMethod.Post))
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
    <p>@Html.ValidationMessageFor(m => m.Name)</p>
    <br/>
    @Html.LabelFor(m => m.TeacherId)
    @Html.DropDownListFor(m => m.TeacherId, Model.Teachers, new {@class = "form-control"})
    <p>@Html.ValidationMessageFor(m => m.TeacherId)</p>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
}